{
  "plugins": ["jest"],
  "extends": ["loopback", "plugin:jest/all", "prettier"],
  "rules": {
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/prefer-to-have-length": "warn",
    "jest/valid-expect": "error",
    "object-curly-spacing": ["error", "always"],
    "indent": [
      2, 2,
      { "SwitchCase": 1 }
    ],
    "max-len": [
      "error", 
      { "code": 120 }
    ]
  }
}
